<!DOCTYPE html>
<html>
<head>
    <title>Cocktail Graph Generator</title>
</head>
<body>
    <h1>Select a Cocktail to Generate its Graph</h1>
    <form action="/generate" method="post">
        <select name="cocktail_select">
            <option value="Cosmic Web">Cosmic Web of All Cocktails</option>
            {% for cocktail in cocktails %}
                <option value="{{ cocktail }}">{{ cocktail }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Generate">
    </form>

    {% if image_b64 %}
        <img src="data:image/png;base64,{{ image_b64 }}">
    {% endif %}
</body>
</html>